/* this is for the title line */
.h1Style {
    /*background-color: #2a5599; */
    background-image: url('../images/3.png');
    background-size: cover; /* Cover the width of the container */
    background-repeat: no-repeat; /* Prevent repeating the image */
    color: white;
    size: large;
    font-family: "Papyrus";
    padding: 120px;
}

.h0Style {
    /*background-color: #2a5599; */
    background-image: url('../images/5.png');
    background-size: cover; /* Cover the width of the container */
    background-repeat: no-repeat; /* Prevent repeating the image */
    color: black;
    size: large;
    font-family: "Papyrus";
    padding: 90px;
}

.h2Style {
    /*background-color: #2a5599; */
    background-image: url('../images/6.jpeg');
    background-size: cover; /* Cover the width of the container */
    background-repeat: no-repeat; /* Prevent repeating the image */
    color: white;
    size: large;
    font-palette: black;
    font-family: "Papyrus";
    padding: 90px;
}

.svgStyle {
    width: 100%; /* Ensure the column fills the available width */
    height: 100%; /* Ensure the column fills the available height */
    border-width: 2px;
    border-style: solid;
    border-color: purple;
    font-family: "Papyrus";
}

.svgStyle1 {
    border-width: 2px;
    border-style: solid;
    border-color: purple;
    font-family: "Papyrus";
}

.mapContainer {
    width: 100%;
    height: 100%;
    position: relative;
  }

.h4Style {
    background-image: url('../images/8.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    font-size: large;
    font-family: "Papyrus";
    font-weight: 600; /* Adjust font weight for thicker font */
    padding: 140px;
    text-shadow: 2px 2px 5px white;
}

.Link {
    text-decoration: none;
    display: inline-block; /* Change to inline-block to enable padding */
    padding: 15px 30px; /* Adjust padding as needed */
    font-weight: bold; /* Change to bold for better emphasis */
    font-size: larger; /* Adjust font size as needed */
    cursor: pointer;
    background-color: #007bff; /* Add background color */
    border: none; /* Remove border */
    border-radius: 5px; /* Add border radius for rounded corners */
    transition: background-color 0.3s ease; /* Add transition effect */
    color: yellow;
    font-size: x-large;
  }

.menu {
    height: 600px;
    background-color: #caf0f8;
  }